USE [master]
GO
/****** Object:  Database [MedicalCommunityDb]    Script Date: 4/25/2015 7:42:52 PM ******/
CREATE DATABASE [MedicalCommunityDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedicalCommunityDb', FILENAME = N'F:\MedicalCommunity\DB\MedicalCommunityDb.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MedicalCommunityDb_log', FILENAME = N'F:\MedicalCommunity\DB\MedicalCommunityDb_log.ldf' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedicalCommunityDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedicalCommunityDb]
GO
/****** Object:  Table [dbo].[tbl_center]    Script Date: 4/25/2015 7:42:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_center](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[district_id] [int] NOT NULL,
	[thana_id] [int] NOT NULL,
	[code] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_center] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_disease]    Script Date: 4/25/2015 7:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_disease](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[description] [varchar](200) NULL,
	[treatment_procedure] [varchar](500) NULL,
	[prefered_drugs] [varchar](200) NULL,
 CONSTRAINT [PK_tbl_disease] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_district]    Script Date: 4/25/2015 7:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_district](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[population] [int] NULL,
 CONSTRAINT [PK_tbl_district] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_doctor]    Script Date: 4/25/2015 7:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_doctor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[degree] [varchar](50) NOT NULL,
	[specialization] [varchar](50) NOT NULL,
	[centerId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_doctor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_dose]    Script Date: 4/25/2015 7:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_dose](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dose] [varchar](50) NULL,
 CONSTRAINT [PK_tbl_dose] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_medicine]    Script Date: 4/25/2015 7:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_medicine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[mg_ml] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tbl_Medicine] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_patient]    Script Date: 4/25/2015 7:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_patient](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[diseaseId] [int] NOT NULL,
	[districtId] [int] NOT NULL,
	[thanaId] [int] NOT NULL,
	[treatmentId] [int] NOT NULL,
	[centerId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_patient] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_stock]    Script Date: 4/25/2015 7:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_stock](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[districtid] [int] NOT NULL,
	[thanaid] [int] NOT NULL,
	[centerid] [int] NOT NULL,
	[medicineid] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_tbl_stock] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_thana]    Script Date: 4/25/2015 7:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_thana](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[district_id] [int] NOT NULL,
 CONSTRAINT [PK_tbl_thana] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_treatment]    Script Date: 4/25/2015 7:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_treatment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[diseaseId] [int] NOT NULL,
	[medicineId] [int] NOT NULL,
	[doseId] [int] NOT NULL,
	[before_after] [bit] NOT NULL,
	[quantity] [int] NOT NULL,
	[note] [varchar](50) NOT NULL,
	[date] [date] NOT NULL,
	[patientId] [int] NOT NULL,
	[districtId] [int] NOT NULL,
 CONSTRAINT [PK_tbl_treatment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[View_History]    Script Date: 4/25/2015 7:42:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_History]
AS
SELECT        dbo.tbl_center.name AS center, dbo.tbl_disease.name AS disease, dbo.tbl_district.name AS district, dbo.tbl_treatment.date, dbo.tbl_patient.name AS patient
FROM            dbo.tbl_center INNER JOIN
                         dbo.tbl_disease ON dbo.tbl_center.id = dbo.tbl_disease.id INNER JOIN
                         dbo.tbl_district ON dbo.tbl_center.district_id = dbo.tbl_district.id INNER JOIN
                         dbo.tbl_patient ON dbo.tbl_center.id = dbo.tbl_patient.centerId AND dbo.tbl_disease.id = dbo.tbl_patient.diseaseId AND 
                         dbo.tbl_district.id = dbo.tbl_patient.districtId INNER JOIN
                         dbo.tbl_treatment ON dbo.tbl_disease.id = dbo.tbl_treatment.diseaseId AND dbo.tbl_district.id = dbo.tbl_treatment.districtId AND 
                         dbo.tbl_patient.treatmentId = dbo.tbl_treatment.id

GO
SET IDENTITY_INSERT [dbo].[tbl_center] ON 

INSERT [dbo].[tbl_center] ([id], [name], [district_id], [thana_id], [code], [password]) VALUES (1, N'Amtali Community Center', 1, 8, N'amtal28', N'amtalicommunitycenter')
INSERT [dbo].[tbl_center] ([id], [name], [district_id], [thana_id], [code], [password]) VALUES (2, N'dhAKA COMUNITY CENTRE', 18, 148, N'dhaka18148', N'dhakacomunitycentre')
SET IDENTITY_INSERT [dbo].[tbl_center] OFF
SET IDENTITY_INSERT [dbo].[tbl_disease] ON 

INSERT [dbo].[tbl_disease] ([id], [name], [description], [treatment_procedure], [prefered_drugs]) VALUES (1, N'Dengue', N'breakbone fever', N'Single-dose methylprednisolone', N'Acetaminophen (paracetamol)')
INSERT [dbo].[tbl_disease] ([id], [name], [description], [treatment_procedure], [prefered_drugs]) VALUES (2, N'Malaria', N'fever', N'15days', N'tablet')
SET IDENTITY_INSERT [dbo].[tbl_disease] OFF
SET IDENTITY_INSERT [dbo].[tbl_district] ON 

INSERT [dbo].[tbl_district] ([id], [name], [population]) VALUES (1, N'Barguna District', 89)
INSERT [dbo].[tbl_district] ([id], [name], [population]) VALUES (2, N'Barisal District', 2324310)
INSERT [dbo].[tbl_district] ([id], [name], [population]) VALUES (3, N'Bhola District', 1776795)
SET IDENTITY_INSERT [dbo].[tbl_district] OFF
SET IDENTITY_INSERT [dbo].[tbl_doctor] ON 

INSERT [dbo].[tbl_doctor] ([id], [name], [degree], [specialization], [centerId]) VALUES (1, N'Hyder', N'MBBS', N'Child', 1)
INSERT [dbo].[tbl_doctor] ([id], [name], [degree], [specialization], [centerId]) VALUES (2, N'Atik', N'FCPS', N'Child', 1)
SET IDENTITY_INSERT [dbo].[tbl_doctor] OFF
SET IDENTITY_INSERT [dbo].[tbl_dose] ON 

INSERT [dbo].[tbl_dose] ([id], [dose]) VALUES (1, N'1-1-1')
INSERT [dbo].[tbl_dose] ([id], [dose]) VALUES (2, N'1-0-1')
INSERT [dbo].[tbl_dose] ([id], [dose]) VALUES (3, N'1-1-0')
SET IDENTITY_INSERT [dbo].[tbl_dose] OFF
SET IDENTITY_INSERT [dbo].[tbl_medicine] ON 

INSERT [dbo].[tbl_medicine] ([id], [Name], [mg_ml]) VALUES (1, N'Napa', N'500mg')
INSERT [dbo].[tbl_medicine] ([id], [Name], [mg_ml]) VALUES (2, N'Tuska', N'500ml')
INSERT [dbo].[tbl_medicine] ([id], [Name], [mg_ml]) VALUES (3, N'Flagil', N'500mg')
SET IDENTITY_INSERT [dbo].[tbl_medicine] OFF
SET IDENTITY_INSERT [dbo].[tbl_patient] ON 

INSERT [dbo].[tbl_patient] ([id], [name], [diseaseId], [districtId], [thanaId], [treatmentId], [centerId]) VALUES (1, N'Rimi Khanom', 1, 1, 1, 1, 1)
INSERT [dbo].[tbl_patient] ([id], [name], [diseaseId], [districtId], [thanaId], [treatmentId], [centerId]) VALUES (3, N'Asif Latif', 2, 2, 1, 1, 1)
INSERT [dbo].[tbl_patient] ([id], [name], [diseaseId], [districtId], [thanaId], [treatmentId], [centerId]) VALUES (4, N'Rakib Hasan', 1, 2, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[tbl_patient] OFF
SET IDENTITY_INSERT [dbo].[tbl_stock] ON 

INSERT [dbo].[tbl_stock] ([id], [districtid], [thanaid], [centerid], [medicineid], [quantity]) VALUES (2, 1, 1, 1, 4, 110)
INSERT [dbo].[tbl_stock] ([id], [districtid], [thanaid], [centerid], [medicineid], [quantity]) VALUES (5, 2, 8, 1, 1, 108)
INSERT [dbo].[tbl_stock] ([id], [districtid], [thanaid], [centerid], [medicineid], [quantity]) VALUES (6, 2, 8, 1, 2, 72)
SET IDENTITY_INSERT [dbo].[tbl_stock] OFF
SET IDENTITY_INSERT [dbo].[tbl_thana] ON 

INSERT [dbo].[tbl_thana] ([id], [name], [district_id]) VALUES (1, N'Amtali Upazila', 1)
INSERT [dbo].[tbl_thana] ([id], [name], [district_id]) VALUES (2, N'Bamna Upazila', 1)
INSERT [dbo].[tbl_thana] ([id], [name], [district_id]) VALUES (3, N'Barguna Sadar Upazila', 1)
GO
SET IDENTITY_INSERT [dbo].[tbl_thana] OFF
SET IDENTITY_INSERT [dbo].[tbl_treatment] ON 

INSERT [dbo].[tbl_treatment] ([id], [diseaseId], [medicineId], [doseId], [before_after], [quantity], [note], [date], [patientId], [districtId]) VALUES (1, 1, 1, 1, 1, 12, N'Fever', CAST(0x6F390B00 AS Date), 1, 1)
INSERT [dbo].[tbl_treatment] ([id], [diseaseId], [medicineId], [doseId], [before_after], [quantity], [note], [date], [patientId], [districtId]) VALUES (2, 2, 2, 2, 0, 12, N'Fever', CAST(0x88390B00 AS Date), 1, 1)
INSERT [dbo].[tbl_treatment] ([id], [diseaseId], [medicineId], [doseId], [before_after], [quantity], [note], [date], [patientId], [districtId]) VALUES (5, 2, 2, 6, 0, 12, N'Fever', CAST(0x91390B00 AS Date), 1, 1)
SET IDENTITY_INSERT [dbo].[tbl_treatment] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_tbl_Medicine]    Script Date: 4/25/2015 7:42:53 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tbl_Medicine] ON [dbo].[tbl_medicine]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_center]  WITH CHECK ADD  CONSTRAINT [FK_tbl_center_tbl_center] FOREIGN KEY([district_id])
REFERENCES [dbo].[tbl_district] ([id])
GO
ALTER TABLE [dbo].[tbl_center] CHECK CONSTRAINT [FK_tbl_center_tbl_center]
GO
ALTER TABLE [dbo].[tbl_center]  WITH CHECK ADD  CONSTRAINT [FK_tbl_center_tbl_thana] FOREIGN KEY([thana_id])
REFERENCES [dbo].[tbl_thana] ([id])
GO
ALTER TABLE [dbo].[tbl_center] CHECK CONSTRAINT [FK_tbl_center_tbl_thana]
GO
ALTER TABLE [dbo].[tbl_patient]  WITH CHECK ADD  CONSTRAINT [FK_tbl_patient_tbl_center] FOREIGN KEY([centerId])
REFERENCES [dbo].[tbl_center] ([id])
GO
ALTER TABLE [dbo].[tbl_patient] CHECK CONSTRAINT [FK_tbl_patient_tbl_center]
GO
ALTER TABLE [dbo].[tbl_patient]  WITH CHECK ADD  CONSTRAINT [FK_tbl_patient_tbl_disease] FOREIGN KEY([diseaseId])
REFERENCES [dbo].[tbl_disease] ([id])
GO
ALTER TABLE [dbo].[tbl_patient] CHECK CONSTRAINT [FK_tbl_patient_tbl_disease]
GO
ALTER TABLE [dbo].[tbl_patient]  WITH CHECK ADD  CONSTRAINT [FK_tbl_patient_tbl_district] FOREIGN KEY([districtId])
REFERENCES [dbo].[tbl_district] ([id])
GO
ALTER TABLE [dbo].[tbl_patient] CHECK CONSTRAINT [FK_tbl_patient_tbl_district]
GO
ALTER TABLE [dbo].[tbl_patient]  WITH CHECK ADD  CONSTRAINT [FK_tbl_patient_tbl_thana] FOREIGN KEY([thanaId])
REFERENCES [dbo].[tbl_thana] ([id])
GO
ALTER TABLE [dbo].[tbl_patient] CHECK CONSTRAINT [FK_tbl_patient_tbl_thana]
GO
ALTER TABLE [dbo].[tbl_patient]  WITH CHECK ADD  CONSTRAINT [FK_tbl_patient_tbl_treatment] FOREIGN KEY([treatmentId])
REFERENCES [dbo].[tbl_treatment] ([id])
GO
ALTER TABLE [dbo].[tbl_patient] CHECK CONSTRAINT [FK_tbl_patient_tbl_treatment]
GO
ALTER TABLE [dbo].[tbl_stock]  WITH CHECK ADD  CONSTRAINT [FK_tbl_stock_tbl_center] FOREIGN KEY([centerid])
REFERENCES [dbo].[tbl_center] ([id])
GO
ALTER TABLE [dbo].[tbl_stock] CHECK CONSTRAINT [FK_tbl_stock_tbl_center]
GO
ALTER TABLE [dbo].[tbl_stock]  WITH CHECK ADD  CONSTRAINT [FK_tbl_stock_tbl_district] FOREIGN KEY([districtid])
REFERENCES [dbo].[tbl_district] ([id])
GO
ALTER TABLE [dbo].[tbl_stock] CHECK CONSTRAINT [FK_tbl_stock_tbl_district]
GO
ALTER TABLE [dbo].[tbl_stock]  WITH CHECK ADD  CONSTRAINT [FK_tbl_stock_tbl_medicine] FOREIGN KEY([medicineid])
REFERENCES [dbo].[tbl_medicine] ([id])
GO
ALTER TABLE [dbo].[tbl_stock] CHECK CONSTRAINT [FK_tbl_stock_tbl_medicine]
GO
ALTER TABLE [dbo].[tbl_stock]  WITH CHECK ADD  CONSTRAINT [FK_tbl_stock_tbl_thana] FOREIGN KEY([thanaid])
REFERENCES [dbo].[tbl_thana] ([id])
GO
ALTER TABLE [dbo].[tbl_stock] CHECK CONSTRAINT [FK_tbl_stock_tbl_thana]
GO
ALTER TABLE [dbo].[tbl_thana]  WITH CHECK ADD  CONSTRAINT [FK_tbl_thana_tbl_district] FOREIGN KEY([district_id])
REFERENCES [dbo].[tbl_district] ([id])
GO
ALTER TABLE [dbo].[tbl_thana] CHECK CONSTRAINT [FK_tbl_thana_tbl_district]
GO
ALTER TABLE [dbo].[tbl_treatment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_treatment_tbl_disease] FOREIGN KEY([diseaseId])
REFERENCES [dbo].[tbl_disease] ([id])
GO
ALTER TABLE [dbo].[tbl_treatment] CHECK CONSTRAINT [FK_tbl_treatment_tbl_disease]
GO
ALTER TABLE [dbo].[tbl_treatment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_treatment_tbl_district] FOREIGN KEY([districtId])
REFERENCES [dbo].[tbl_district] ([id])
GO
ALTER TABLE [dbo].[tbl_treatment] CHECK CONSTRAINT [FK_tbl_treatment_tbl_district]
GO
ALTER TABLE [dbo].[tbl_treatment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_treatment_tbl_dose] FOREIGN KEY([doseId])
REFERENCES [dbo].[tbl_dose] ([id])
GO
ALTER TABLE [dbo].[tbl_treatment] CHECK CONSTRAINT [FK_tbl_treatment_tbl_dose]
GO
ALTER TABLE [dbo].[tbl_treatment]  WITH CHECK ADD  CONSTRAINT [FK_tbl_treatment_tbl_medicine] FOREIGN KEY([medicineId])
REFERENCES [dbo].[tbl_medicine] ([id])
GO
ALTER TABLE [dbo].[tbl_treatment] CHECK CONSTRAINT [FK_tbl_treatment_tbl_medicine]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[51] 4[11] 2[21] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tbl_center"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 135
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "tbl_disease"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 135
               Right = 446
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "tbl_district"
            Begin Extent = 
               Top = 6
               Left = 484
               Bottom = 118
               Right = 654
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_patient"
            Begin Extent = 
               Top = 120
               Left = 484
               Bottom = 249
               Right = 654
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "tbl_treatment"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 267
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 6
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         A' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_History'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'lias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_History'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_History'
GO
USE [master]
GO
